@model IEnumerable<DoAn_Ecommerce.Areas.Admin.Models.SanPhamModel>

@{
    ViewData["Title"] = "Index";
    ViewData["SanPham"] = "active";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <a asp-action="Create"> <button class="btn btn-primary">Thêm Sản Phẩm </button> </a>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TenSanPham)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.HinhAnh)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.SoLuongTon)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Gia)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Mota)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TrangThai)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.LoaiSanPham)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TenSanPham)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.HinhAnh)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.SoLuongTon)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Gia)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Mota)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TrangThai)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.LoaiSanPham.TenLoai)
                                        </td>
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->
</div>
