@model IEnumerable<DoAn_Ecommerce.Areas.Admin.Models.TinTucModel>

@{
    ViewData["Title"] = "Index";
    ViewData["TinTuc"] = "active";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div id="PlaceHolderHere"></div>
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <button type="button" class="btn btn-primary" data-toggle="ajax-modal" data-target="#addtintuc" data-url="@Url.Action("Create")"> Thêm Tin Tức</button>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TieuDe)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TomTat)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.NoiDung)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.NgayDang)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.LuotXem)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TrangThai)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.HinhAnh)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.NhanVien)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TieuDe)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TomTat)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.NoiDung)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.NgayDang)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.LuotXem)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TrangThai)
                                        </td>
                                        <td>
                                            <img src="~/images/pro/@Html.DisplayFor(modelItem => item.HinhAnh)" height="150" width="150" />
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.NhanVien.Id)
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-primary" id="Edit" data-toggle="ajax-modal" data-target="#addtintuc" data-url="@Url.Action($"Edit/{item.Id}")"> Edit </button> |
                                            <button type="button" class="btn btn-primary" id="Edit" data-toggle="ajax-modal" data-target="#addtintuc" data-url="@Url.Action($"Delete/{item.Id}")"> Delete </button> |
                                            <button type="button" class="btn btn-primary" id="change" name="change" data-id="@item.Id"> Change </button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->
<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4>Thông báo</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p id="error"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
@section Scripts {
    <script>
        $('button[name = change]').click(function () {
            var id = ($(this).attr('data-id'));
            $.ajax({
                method: 'GET',
                url: './api/TinTucApi/ChangeStates/' + id,
            }).done(function (mgs) {
                $("#error").html("Cập nhật trạng thái thành công");
                $('#myModal').modal("show");
            });
        });
        $("#myModal").on("hidden.bs.modal", function () {
            // put your default event here
            location.reload(true);
        });
    </script>
}
